/*!
 * Copyright 2018 Alfonso Nishikawa
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


.valuescard-body .card-item-container:nth-child(even) {

}

.valuescard-body .card-item-container:nth-child(odd) {
  background: $valuescard-row-background-color ;
}

.valuescard-body .documentation-label {
  padding: $valuescard-doc-label-padding ;
  border-bottom: 5px solid #ECECEC ;
}

a.button-fake.x-btn.x-btn-disabled, .checkbox-fake {
  opacity: $fake-controls-opacity ;
}

.container-fake-buttons {
  opacity: 1 ;
  background: #FFFFFF ;
}

.card-item-container {
  padding: $card-item-container-padding ;
}