/*!
 * Copyright 2018 Alfonso Nishikawa
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@include treelist-ui(
        $ui: 'navigation',
        $padding: 0 10px,

            // Black-ish background color
        $background-color: $panel-navigation-background-color,
        $toolstrip-background-color: #32404e,

        $tool-float-indicator-color: $panel-header-background-color,
        $tool-float-indicator-width: 5px,

        $tool-indicator-selected-color: $panel-header-background-color,
        $tool-indicator-selected-width: 5px,
        $tool-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
            //$tool-selected-color: #fff,
            //$tool-selected-background-color: $panel-header-background-color,

            // Darker background for expanded subtrees
        $item-expanded-background-color: #2c3845,

            // Taller line height
        $item-line-height : $panel-navigation-item-line-height,

        $row-over-background-color: mix(white, $panel-navigation-background-color, 5%),
        $row-selected-background-color: mix(white, $panel-navigation-background-color, 10%),

            // Off-white text
        $item-icon-color: $panel-navigation-item-text-color,
        $item-expander-color: #fff,
        $item-text-color: #ADB3B8,

            // Brighter when hovered
        $item-icon-over-color: #fff,
        $item-expander-over-color: #fff,
        $item-text-over-color: mix(white, $panel-navigation-item-text-color, 50%),
        $item-text-font-size: 14px,

            // Various sizes for the pieces:
        $item-icon-font-size: 18px,
        $item-icon-width: 44px,
        $item-expander-font-size: 16px,
        $item-expander-width: 24px,

            // Style the "row indicator" (the vertical stripe on the left edge):
        $row-indicator-width: 5px,
        $row-indicator-selected-color: $panel-header-background-color,
        $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%),
        $row-indicator-over-color: transparent
);

//--------------------------------------------------------

.logo {
    background-color: $base-color;
    height: 65px;

    font-size: 16px;
    color: $lightest-color;
    margin-left: 17px;

    .main-logo {
        line-height: 65px;
        img{
            margin-left: 16px;
            margin-right: 11px;
            top: 8px;
            position: relative;
            height: 31px ;
            width: 31px ;
        }
    }
}

.sencha-dash-dash-headerbar {
    padding:0 30px 0 0;
    position:fixed;
    width:100%;
    z-index:10;
    border:none;
    .header-right-profile-image {
        border-radius: 20px;
        &:hover {
            @include box-shadow(1px 2px 2px 0 rgba(0,0,0,0.2));
        }
    }
}
.top-english-button{
    .x-btn-icon-el{
        width:21px;
        height:14px;
    }
}
.collapsed{
    .hot-icon,.new-icon{
        &:after{
            display:none;
        }
    }
    .x-tree-elbow-img{
        display:none;
    }

    .x-tree-node-text {
        display:none;
    }
}
.x-grid-cell{
    position:relative;
}

.x-treelist-item-tool {
    height: $panel-navigation-item-line-height;
    &.hot-icon:after, &.new-icon:after{
        background: $panel-header-background-color;
        content: '';
    }
}

//Add border around html editor field
.x-html-editor-input{
    border:1px solid #ccc;
}

.home-body {
    background-color: transparent !important;
    padding: 10px;
    div.shadow {
        margin: 10px;
        @include box-shadow(1px 1px 3px 2px rgba(0,0,0,0.2));
    }
}

// All numberfields must have the numbers right-aligned
input[role=spinbutton]{
    text-align: right ;
}


.#{$prefix}tool-pencil {
  @include font-icon($tool-pencil-glyph);
  background: none;
}

.#{$prefix}tool-times {
  @include font-icon($tool-times-glyph);
  background: none;
}