/*!
 * Copyright 2018 Alfonso Nishikawa
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$widget-first-container-background: #468fd3;
$widget-second-container-background: #8dc153;
$widget-third-container-background: #607d8b;
$follow-button-color : #82c748;
$follower-toolbar-background: #fafafa;

$sale-container-color: #458fd2;
$message-container-color: #4caf50;
$code-container-color: #9c27b0;
$user-container-color: #e91e63;
$server-container-color: #ffc107;
$file-container-color: #673ab7;